@model Cantinho_Caseiro.Models.Usuarios

@using (Html.BeginForm())
{
   
    <h4>Cadastro</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">


                <form>
                    <div class="mb-3">

                        <label for="formrow-firstname-input" class="form-label">Nome</label>
                        @Html.EditorFor(model => model.UsrNome, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                    <div class="row">

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="formrow-email-input" class="form-label">Email</label>
                                @Html.EditorFor(model => model.UsrEmail, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="formrow-password-input" class="form-label">Senha</label>
                                @Html.EditorFor(model => model.UsrSenha, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4">
                            <div class="mb-3">
                                <label for="formrow-inputCity" class="form-label">Cidade</label>
                                @Html.EditorFor(model => model.UsrCidade, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="mb-3">
                                <label for="formrow-inputCity" class="form-label">Bairro</label>
                                @Html.EditorFor(model => model.UsrBairro, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="mb-3">
                                <label for="formrow-inputCity" class="form-label">Rua</label>
                                @Html.EditorFor(model => model.UsrRua, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>

                        <div class="col-lg-1">
                            <div class="mb-3">
                                <label for="formrow-inputZip" class="form-label">Nº</label>
                                @Html.EditorFor(model => model.UsrNum, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>


                    <div class="modal-footer">

                        <button type="submit" value="Save" class="btn btn-primary w-md">Alterar</button>
                    </div>
                </form>
            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->
    </div>



}

<div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



